id = "@@ID@@"
log_dir = "@@LOG_DIR@@"

supabase_url = "@@SUPABASE_URL@@"
supabase_anon_key = "@@SUPABASE_ANON_KEY@@"

otel_endpoint = "@@OTEL_ENDPOINT@@"
otel_authorization = "@@OTEL_AUTHORIZATION@@"

color_order = "@@COLOR_ORDER@@"
