[Unit]
Description=LED matrix driver
After=network-online.target led-tailscale-init.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/led-driver --config /usr/local/etc/led/config.toml
Restart=always
RestartSec=2s
User=root

[Install]
WantedBy=multi-user.target
