[Unit]
Description=LED Driver Service
After=network.target

[Service]
Type=simple
# Environment="RUST_LOG=trace"
ExecStart=/opt/led/led-driver

[Install]
WantedBy=multi-user.target